{{yield}}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-5">
          <p>{{answer.answered}}</p><br>
          <div class="delete">
            <img src="/image/delete.png" {{action 'delete' answer}}>
          </div>
          <p><em>~ by {{answer.author}}</em><span class="label label-default"></span></p>

        </div>
      </div>
    </div>
  </div>
</div>
