html{
  box-sizing: border-box;
  width: auto;
  overflow: hidden;
}
body{
  background-image: url('/image/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  color: white;
  width:cover;
  box-sizing: border-box;
  /*font-size: 3em;*/
}

input[type=text] {
  appearance: none;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid;
  box-shadow: none;
}

.page-header {
  text-align: center;
}

img {
  height: 200px;
  padding: 0;
  margin-top: -90px;
}

.eachQuiz {
  color: black;
}

.questions {
  border-radius: 5px;
  height: 50vh;
  margin-bottom: 50px;
}

.questions:hover {
  box-shadow: 5px 5px 10px;
  border: none;
}

ol {
  list-style: upper-roman;
  /*color: white;*/
}

.wrapper {
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.delete img {
  width: 20px;
  height: 20px;
  float: right;
}

img {
  margin-top: 30px;
  /*width: 40px;*/
  height: 40px;
  float: left;
}

h2, h1 {
  font-family: 'Fredericka the Great', cursive;
}

.delete {
  float: left;
  margin-top: -18px;
}

.note {
  color: black;
}


/*li{
  list-style: none;
}*/

nav li {
  list-style: none;
  word-spacing: normal;
}

nav ul li a {
  word-spacing: normal;
}

.note {
  color: black;
}

li {
  color: white;
}
