<div class="row">
  <h2>About WhatsEmber</h2>
  <div class="col-md-8 col-md-offset-2 panel-body">
    <h1>We are invisible..Now u see me now u dont </h1>
    <p>Dont take life too serious</p>
    <p>Call us on 3455567893</p>
    <p>Oops missed a 3 between that 5</p>
    <p>We are time wasters</p>
    <p>HAHAHA BYE</p>
  </div>
</div>
