<div class="jumbotron">
    <h2>Questions</h2>
</div>

<div class="row">
     <div class="col-md-6 col-md-offset-3 well">

    </div>
    <div class="col-md-3">

    </div>
</div>

{{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer" answerUp="answerUp" answerDown="answerDown"}}

{{new-answer saveAnswer="saveAnswer" question=model }}
